{% extends "coderedcms/pages/web_page.html" %}
{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}

{% block index_content %}
<div class="container">
    <div class="row d-flex">

        {% for profile in page.get_children.specific %}
        <div class="col m-3">
            <div class="card border-0 bg-transparent justify-content-center text-center" style="width: 18rem;">

                {% if profile.owner.wagtail_userprofile.avatar %}

                <a href="{{ profile.url }}">
                    <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{{ profile.owner.wagtail_userprofile.avatar.url }}" style = "width: 10rem; height: 10rem">
                </a>
                {% endif %}

                <div class="card-body">
                <div class="card-text">
                    <h3><a href="{{profile.url}}">{{profile.owner.get_full_name}}</a></h3>

                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}