{% extends "coderedcms/pages/web_page_notitle.html" %}

{% load wagtailcore_tags wagtailimages_tags coderedcms_tags %}

{% block index_filters %}{% endblock %}

{% block index_content %}
{% if True %}
    <div class="container">
        <div class="container align-items-center text-center justify-content-center">
                {% if self.owner.wagtail_userprofile.avatar %}


                    <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{{ self.owner.wagtail_userprofile.avatar.url }}" style = "width: 10rem; height: 10rem">


                {% endif %}
            <br/>
            <br/>
            <h3> {{self.owner.get_full_name}}</h3>
             <br/>
            <br/>
            <div class="container  d-flex justify-content-center">
                <div class="d-flex w-50 justify-content-center">


                    {{page.owner.wagtail_userprofile.bio}}
                    </div>
                </div>
            <br/>
            {% include "coderedcms/pages/profile/social_media.html" %}
            <br/>
            {% include "coderedcms/pages/profile/profile_shoe_element.html" %}



            <hr/>

        </div>
        {% for article in posts %}
        <div class="row">
            {% if True %}
            <div class="col-md">
                <a class ="text-danger" style="color: red !important;" href="{% pageurl article %}" title="{{article.title}}">
                {% if article.cover_image %}
                    {% image article.specific.cover_image fill-1000x500 as cover_image %}
                    <img src="{{cover_image.url}}" class="w-100" alt="{{article.title}}" />
                {% else %}
                    <p class="p-5 lead text-center bg-secondary text-white-50" style="color: white !important;">{{article.title}}</p>
                {% endif %}
                </a>
            </div>
            {% endif %}
            <div class="col-md">
                <h3><a class ="text-danger" href="{% pageurl article %}">{{article.title}}</a></h3>
                {% if True and article.specific.caption %}<p class="lead">{{article.specific.caption}}</p>{% endif %}
                {% if True %}<p>{{article.specific.get_pub_date}}{% if article.owner %} &bull; {{article.owner.get_full_name}}{% endif %}</p>{% endif %}
                {% if True %}<p>{{article.specific.body_preview}}</p>{% endif %}
            </div>
        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}



    {% include "coderedcms/includes/pagination.html" with items=index_paginated %}

</div>
{% endif %}
{% endblock %}
